@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500&display=swap');


p, div {
  font-family: Lato;
  font: black;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items:  center;
  background-color: #0492C2;
  font: Lato;
  color: black;
  min-height: 10px;
  top: 0px;
  font-size: 20px;
  width: ;


}

.nav-links{
  font: Lato;
  color:  black;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.pageStyle{
  font: Lato;
  background-color: #63C5DA;
  height: fit-content;
  width: 100%;
  padding: 20px;


}

.picture {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  margin-right: 10px;
  align-items: center;

}


  .footer{

    background-color: #0492C2;
    color:black;
    font-family: Lato;
    font-size: 10px;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    
  }


h1,
h2,
h3,
h4,
h5 {

    padding-top: 0px;
    padding-left: 5px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;

}

.button {
  background-color: #0492C2; /* Green */
  border: none;
  color: black;
  margin: 20px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}


  @media (min-width: 750px) {

  

    .picture {

        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin-right: 10px;
        align-items: center;

    }


}